i {
  &.info-sprinkle {
    margin-left: 5px;
    margin-right: 1px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: 1px;
    opacity: 0.5;
    &:hover {
      color: #fbb129;
    }
  }
}
a {
  i {
    &.info-sprinkle {
      color: #337ab7;
      opacity: 1.0;
      text-decoration: none;
      &:hover {
        color: #23527c;
      }
    }
  }
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
}
.caret-down {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: solid;
  border-right: solid transparent;
  border-left: solid transparent;
}
.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: solid;
  border-right: 0;
  border-top: solid transparent;
  border-bottom: solid transparent;
}
.btn-default:hover,
.btn-default:focus {
  background: linear-gradient(180deg,#FFFFFF 0%,#EDEDED 100%);
  box-shadow: inset 0 -1px 0 0 #CACACA, 0 2px 4px 0 rgba(0,0,0,0.1);
  border: 1px solid #CACACA;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 50%;
}
.btn-group {
  display: inline-block;
}
.btn-edit:hover,
.btn-edit:focus {
  box-shadow: none;
  background: none;
}
.btn,
button {
  outline: none;
}
