@import '../styles/theme.less';

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.logo {
  white-space: nowrap;
  margin: 16px;
  line-height: 32px;
  z-index: 2;
  float: left;
  font-size: 1.78rem;
  box-sizing: content-box;
  overflow: hidden;
  cursor: pointer;
}

.logo .h1 {
  display: inline-block;
  margin: 0 5px 0 4px;
  font-weight: 400;
  font-size: 1.728rem;
  color: #f5f8fa !important;
  vertical-align: top;
}