i.info-sprinkle {
    margin-left: 5px;
    margin-right: 1px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: 1px;
    opacity: 0.5;
}
i.info-sprinkle:hover {
    color: #fbb129;
}
a i.info-sprinkle {
    color: #337ab7;
    opacity: 1.0;
    text-decoration: none;
}
a i.info-sprinkle:hover {
    color: #23527c;
}
